// Colors
$card-layer1-color:#222;
$card-layer2-color:#A59987;
$cardback_50:url("../img/cardback_49.png");
$card0:url("../img/card0.png");
// $card1:url("../img/card1.png");
$card-frame:url("../img/card_frame.png");
$card1:url("../img/kitten_ed.png");
$card2:url("../img/catty_ed.png");
$card3:url("../img/kitty_ed.png");
$card4:url("../img/puss_ed.png");
$card5:url("../img/grump_ed.png");
$card6:url("../img/grumpGoth_ed.png");