.topCard {
	flex:2;
	display: flex;
	.imageCard {
		background-image: $card0;
		background-color: $card-layer1-color;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius:50%;
		border: 4px solid black;
		padding: 20px;
		flex:5;
	}
	.nameCard{
		flex:1;
		text-align: center;
		color:white;
	}
}

.bottomCard {
	flex:1;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: $card-layer2-color;
	position: relative;
	margin: 5px 10px;
	text-align: center;
	.abilitiesCard {
		flex:5;
	}
	.typeCard {
		flex:1;
	}
}
.manaCard, .atkCard, .hpCard {
	position: absolute;
	border-radius:50%;
	// border: 1px solid black;
	padding:5px;
	text-align: center;
	color:white;
	font-size: 1.75rem;
	font-weight:bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Hand {
	.manaCard, .atkCard, .hpCard {
		font-size: 1rem;
	}
} 
.cardToolTip {
	.manaCard, .atkCard, .hpCard {
		font-size: 3rem;
	}
	.manaCard {
	top:1%;
	// background-color:blue;
	}
	.atkCard {
		bottom:2%;
		left:10%;
		// background-color:yellow;
	}
	.hpCard {
		bottom:2%;
		right:8%;
		// background-color:red;
	}
} 
.manaCard {
	top:0%;
	left:10%;
	// background-color:blue;
}
.atkCard {
	bottom:-1%;
	left:11%;
	// background-color:yellow;
}
.hpCard {
	bottom:-1%;
	right:7%;
	// background-color:red;
}
