.wrapper {
	display:flex;
	width:100vw;
	height:100vh;
	z-index:1;
}

.left {
	flex:5;
	background-color:#9C8E7C;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	z-index:2;
}
.right {
	z-index:2;
	flex:1;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color:#9C8E7C;
}

.CardDeck {
	flex:5;
	background: $cardback_50;
	background-size:contain;
	background-repeat:no-repeat;
	width: 80%;
	height: 40%;
	display:flex;
	justify-content:center;
	align-items:center;
	// margin: 0px 20px;
}

.Turn {
	flex:1;
	display:flex;
	align-items:center;
	// padding: 20px;
	text-align:center;
}

.Player {
	padding:5px 10px;
	border: 2px green solid;
	border-radius: 9%;
	z-index:2;
}
	.field {
		// background-color:#9C8E7C;
		flex:3;
		display:flex;
		flex-direction: column;
		justify-content:space-around;
		z-index:2;
	}

	#player {
		background-color:rgba(3, 180, 3, 0.5);
		z-index: 2;
		// background-color:#9C8E7C;
	}

	#enemy {
		background-color:rgba(180, 3, 3, 0.5);
		z-index: 2;

		// background-color:#9C8E7C;
	}

	.forces {
		flex:1;

		display: flex;
		justify-content: center;
		align-items:center;

		margin:10px;
		z-index:2;

	}

	.Hand .Card, .forces .Card {
		width:11vw;
		height:100%;
		// z-index:0;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		// margin:10px;

		// flex:1;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.Hand .Card .cardBack, .forces .Card .cardBack {
		background-image: $cardback_50;
	}

	.Hand .Card {
		width:7vw;
	}

	.Hand .cardFrame, .forces .cardFrame {
		background-image:$card-frame;
		// background-size: 20% 50%;
		// background-position: 52% 10%;
		// border-radius: 40%;
		border: 1px solid transparent;
	}
	.innerCard {
		position: absolute;
		left:26%;
		top:3%;
		width: 52%;
		height: 60%;
		z-index:-1;
		background-size: 100%;
		border-radius: 42%;
		background-repeat: no-repeat;
	}
	.card1 {background-image: $card1;}
	.card2 {background-image: $card2;}
	.card3 {background-image: $card3;}
	.card4 {background-image: $card4;}
	.card5 {background-image: $card5;}
	.card6 {background-image: $card6;}

	.player {
		flex:1;
		display:flex;
		border:1px solid black;
	}

	.Hand {
		flex:2;
		display: flex;
		justify-content: center;
		align-items:center;
		margin: 10px;
	}

	.ManaHp {
		flex:1;
		display: flex;
		justify-content: center;
		flex-direction:column;

		.mana {
			flex:1;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.hp {
			flex:1;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	.progressWrapper {
		display: flex;

	}

	.progress {
		flex:5;
		text-align: center;
		font-size: 1.5rem;
		color:white;
		border: 1px solid black;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

.cardGap {
	flex:1;
}

.cardGap2 {
	flex:2;
}

.cardGap3 {
	flex:3;
}

.cardGap4 {
	flex:4;
}

.cardGap5 {
	flex:5;
}

.cardFlex {
	display:flex;
}

.columnOrder {
	flex-direction:column;
}

.width100 {
	width:100%;
}

.width20 {
	width:20%;
}

.centerFlex {
	justify-content:center;
	align-items:center;
}

.alignCenter {
	align-items:center;
}

.justifyAround {
	justify-content:space-around;
}

.fullWidth {
	width:100vw;
}

.fullHeight {
	height:100vh;
}

.playerActive {
	// box-shadow: 0px 0px 20px 10px green;
	filter: drop-shadow(0px 0px 7px green);
}

.componentActive {
	box-shadow: 0px 0px 20px 10px green;
	// filter: drop-shadow(0px 0px 10px green);
}

.cardActive {
	// box-shadow: 0px 0px 10px 5px green;
	filter: drop-shadow(0px 0px 10px green);
}

.enemyActive {
	box-shadow: 0px 0px 20px 10px red;
	// filter: drop-shadow(0px 0px 20px red);
}

.innerDeck {
	// flex:1;
	width:94%;
	height:98%;
}

.playerText {
	color:#0f0;
	font-weight:bold;
	font-size:2rem;
}

.enemyText {
	color:#f00;
	font-weight:bold;
	font-size:2rem;
}

.debuffText {
	color:#f00 !important;
}

.buffText {
	color:#0f0 !important;
}

.cardToolTip {
	position:absolute;
	top:0;
	left:0;
	z-index:4;
	font-size:2rem;
	color:white;
	border:2px solid white;
	padding:20px;
}

.cardModal {
	position:absolute;
	top:0;
	left:0;
	z-index:4;
	font-size:4rem;
	color:white;
	padding:20px;
}